body
{
  background: powderblue;
  overflow-x: hidden;
}

.container
{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40ch;
  margin: auto;
  padding-top: 2rem; /* this is the space between h1 and the card */
  /* display, justify-content, and align-items centers the card in the page*/
}

.card
{
  background: orange;
  margin: 0; /*this makes the entire area of card clickable*/
  width: 400px;
  /* height: 450px; by not setting the height the card's length adjusts to the elements inside automaticaally*/ 
  text-align: center;
  border-radius: 5%; /*fix later - why is the image not adjusting to the border radius*/
}

a:hover .card /* by adding .card this made the card have a hover effect */
{
  cursor: pointer;
  background-color: lightslategrey; /*background-color: entire element, color: text */
}

a
{
  text-decoration: none;
}

h1
{
  text-align: center;
  display: block;
  margin-top: 5%;
  margin-bottom: 0;
  font-family: 'Chivo', Arial, sans-serif;
  color: midnightblue;
}

h2 
{
  font-family: 'Chivo', Arial, sans-serif;
  color: black;
  
}

p
{
  font-family: 'Chivo', Arial, sans-serif;
  color: black;
  font-size: 1.5em;
}

h3
{
  font-family: 'Poppins', Helvetica, sans-serif;
  color: black;
}

figcaption
{
  font-family: 'Poppins', Helvetica, sans-serif;
  color: black;
  text-align: justify;
  padding: 1rem; /* gives whitespace on the left and right edges */
  padding-top: 0%; 
}

button 
{
  margin-bottom: 1rem; /* gives whitespace at the bottom */ 
  font-family: 'Poppins', Helvetica, sans-serif;
}


/*
.image 
{
  margin-bottom: 15px;
  background-size: cover;
 
}
*/


